@keyframes a {
  0%,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    transform: translateZ(0)
  }
  40%,
  43% {
    animation-timing-function: cubic-bezier(.755, .05, .855, .06);
    transform: translate3d(0, -30px, 0)
  }
  70% {
    animation-timing-function: cubic-bezier(.755, .05, .855, .06);
    transform: translate3d(0, -15px, 0)
  }
  90% {
    transform: translate3d(0, -4px, 0)
  }
}

.bounce {
  animation-name: a;
  transform-origin: center bottom
}

@keyframes b {
  0%,
  50%,
  to {
    opacity: 1
  }
  25%,
  75% {
    opacity: 0
  }
}

.flash {
  animation-name: b
}

@keyframes c {
  0% {
    transform: scaleX(1)
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05)
  }
  to {
    transform: scaleX(1)
  }
}

.pulse {
  animation-name: c
}

@keyframes d {
  0% {
    transform: scaleX(1)
  }
  30% {
    transform: scale3d(1.25, .75, 1)
  }
  40% {
    transform: scale3d(.75, 1.25, 1)
  }
  50% {
    transform: scale3d(1.15, .85, 1)
  }
  65% {
    transform: scale3d(.95, 1.05, 1)
  }
  75% {
    transform: scale3d(1.05, .95, 1)
  }
  to {
    transform: scaleX(1)
  }
}

.rubberBand {
  animation-name: d
}

@keyframes e {
  0%,
  to {
    transform: translateZ(0)
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0)
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0)
  }
}

.shake {
  animation-name: e
}

@keyframes f {
  0% {
    transform: translateX(0)
  }
  6.5% {
    transform: translateX(-6px) rotateY(-9deg)
  }
  18.5% {
    transform: translateX(5px) rotateY(7deg)
  }
  31.5% {
    transform: translateX(-3px) rotateY(-5deg)
  }
  43.5% {
    transform: translateX(2px) rotateY(3deg)
  }
  50% {
    transform: translateX(0)
  }
}

.headShake {
  animation-timing-function: ease-in-out;
  animation-name: f
}

@keyframes g {
  20% {
    transform: rotate(15deg)
  }
  40% {
    transform: rotate(-10deg)
  }
  60% {
    transform: rotate(5deg)
  }
  80% {
    transform: rotate(-5deg)
  }
  to {
    transform: rotate(0deg)
  }
}

.swing {
  transform-origin: top center;
  animation-name: g
}

@keyframes h {
  0% {
    transform: scaleX(1)
  }
  10%,
  20% {
    transform: scale3d(.9, .9, .9) rotate(-3deg)
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg)
  }
  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg)
  }
  to {
    transform: scaleX(1)
  }
}

.tada {
  animation-name: h
}

@keyframes i {
  0% {
    transform: translateZ(0)
  }
  15% {
    transform: translate3d(-25%, 0, 0) rotate(-5deg)
  }
  30% {
    transform: translate3d(20%, 0, 0) rotate(3deg)
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate(-3deg)
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate(2deg)
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate(-1deg)
  }
  to {
    transform: translateZ(0)
  }
}

.wobble {
  animation-name: i
}

@keyframes j {
  0%,
  11.1%,
  to {
    transform: translateZ(0)
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg)
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg)
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg)
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg)
  }
  66.6% {
    transform: skewX(-.78125deg) skewY(-.78125deg)
  }
  77.7% {
    transform: skewX(.39063deg) skewY(.39063deg)
  }
  88.8% {
    transform: skewX(-.19531deg) skewY(-.19531deg)
  }
}

.jello {
  animation-name: j;
  transform-origin: center
}

@keyframes k {
  0% {
    transform: scale(1)
  }
  14% {
    transform: scale(1.3)
  }
  28% {
    transform: scale(1)
  }
  42% {
    transform: scale(1.3)
  }
  70% {
    transform: scale(1)
  }
}

.heartBeat {
  animation-name: k;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out
}

@keyframes l {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3)
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1)
  }
  40% {
    transform: scale3d(.9, .9, .9)
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03)
  }
  80% {
    transform: scale3d(.97, .97, .97)
  }
  to {
    opacity: 1;
    transform: scaleX(1)
  }
}

.bounceIn {
  animation-duration: .75s;
  animation-name: l
}

@keyframes m {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0)
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0)
  }
  75% {
    transform: translate3d(0, -10px, 0)
  }
  90% {
    transform: translate3d(0, 5px, 0)
  }
  to {
    transform: translateZ(0)
  }
}

.bounceInDown {
  animation-name: m
}

@keyframes n {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0)
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0)
  }
  75% {
    transform: translate3d(-10px, 0, 0)
  }
  90% {
    transform: translate3d(5px, 0, 0)
  }
  to {
    transform: translateZ(0)
  }
}

.bounceInLeft {
  animation-name: n
}

@keyframes o {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0)
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0)
  }
  75% {
    transform: translate3d(10px, 0, 0)
  }
  90% {
    transform: translate3d(-5px, 0, 0)
  }
  to {
    transform: translateZ(0)
  }
}

.bounceInRight {
  animation-name: o
}

@keyframes p {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0)
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0)
  }
  75% {
    transform: translate3d(0, 10px, 0)
  }
  90% {
    transform: translate3d(0, -5px, 0)
  }
  to {
    transform: translateZ(0)
  }
}

.bounceInUp {
  animation-name: p
}

@keyframes q {
  20% {
    transform: scale3d(.9, .9, .9)
  }
  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1)
  }
  to {
    opacity: 0;
    transform: scale3d(.3, .3, .3)
  }
}

.bounceOut {
  animation-duration: .75s;
  animation-name: q
}

@keyframes r {
  20% {
    transform: translate3d(0, 10px, 0)
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0)
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0)
  }
}

.bounceOutDown {
  animation-name: r
}

@keyframes s {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0)
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0)
  }
}

.bounceOutLeft {
  animation-name: s
}

@keyframes t {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0)
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0)
  }
}

.bounceOutRight {
  animation-name: t
}

@keyframes u {
  20% {
    transform: translate3d(0, -10px, 0)
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0)
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0)
  }
}

.bounceOutUp {
  animation-name: u
}

@keyframes v {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.fadeIn {
  animation-name: v
}

@keyframes w {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0)
  }
  to {
    opacity: 1;
    transform: translateZ(0)
  }
}

.fadeInDown {
  animation-name: w
}

@keyframes x {
  0% {
    opacity: 0;
    transform: translate3d(0, -2000px, 0)
  }
  to {
    opacity: 1;
    transform: translateZ(0)
  }
}

.fadeInDownBig {
  animation-name: x
}

@keyframes y {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0)
  }
  to {
    opacity: 1;
    transform: translateZ(0)
  }
}

.fadeInLeft {
  animation-name: y
}

@keyframes z {
  0% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0)
  }
  to {
    opacity: 1;
    transform: translateZ(0)
  }
}

.fadeInLeftBig {
  animation-name: z
}

@keyframes A {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0)
  }
  to {
    opacity: 1;
    transform: translateZ(0)
  }
}

.fadeInRight {
  animation-name: A
}

@keyframes B {
  0% {
    opacity: 0;
    transform: translate3d(2000px, 0, 0)
  }
  to {
    opacity: 1;
    transform: translateZ(0)
  }
}

.fadeInRightBig {
  animation-name: B
}

@keyframes C {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0)
  }
  to {
    opacity: 1;
    transform: translateZ(0)
  }
}

.fadeInUp {
  animation-name: C
}

@keyframes D {
  0% {
    opacity: 0;
    transform: translate3d(0, 2000px, 0)
  }
  to {
    opacity: 1;
    transform: translateZ(0)
  }
}

.fadeInUpBig {
  animation-name: D
}

@keyframes E {
  0% {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

.fadeOut {
  animation-name: E
}

@keyframes F {
  0% {
    opacity: 1
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0)
  }
}

.fadeOutDown {
  animation-name: F
}

@keyframes G {
  0% {
    opacity: 1
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0)
  }
}

.fadeOutDownBig {
  animation-name: G
}

@keyframes H {
  0% {
    opacity: 1
  }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0)
  }
}

.fadeOutLeft {
  animation-name: H
}

@keyframes I {
  0% {
    opacity: 1
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0)
  }
}

.fadeOutLeftBig {
  animation-name: I
}

@keyframes J {
  0% {
    opacity: 1
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0)
  }
}

.fadeOutRight {
  animation-name: J
}

@keyframes K {
  0% {
    opacity: 1
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0)
  }
}

.fadeOutRightBig {
  animation-name: K
}

@keyframes L {
  0% {
    opacity: 1
  }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0)
  }
}

.fadeOutUp {
  animation-name: L
}

@keyframes M {
  0% {
    opacity: 1
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0)
  }
}

.fadeOutUpBig {
  animation-name: M
}

@keyframes N {
  0% {
    transform: perspective(400px) scaleX(1) translateZ(0) rotateY(-1turn);
    animation-timing-function: ease-out
  }
  40% {
    transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-190deg);
    animation-timing-function: ease-out
  }
  50% {
    transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-170deg);
    animation-timing-function: ease-in
  }
  80% {
    transform: perspective(400px) scale3d(.95, .95, .95) translateZ(0) rotateY(0deg);
    animation-timing-function: ease-in
  }
  to {
    transform: perspective(400px) scaleX(1) translateZ(0) rotateY(0deg);
    animation-timing-function: ease-in
  }
}

.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  animation-name: N
}

@keyframes O {
  0% {
    transform: perspective(400px) rotateX(90deg);
    animation-timing-function: ease-in;
    opacity: 0
  }
  40% {
    transform: perspective(400px) rotateX(-20deg);
    animation-timing-function: ease-in
  }
  60% {
    transform: perspective(400px) rotateX(10deg);
    opacity: 1
  }
  80% {
    transform: perspective(400px) rotateX(-5deg)
  }
  to {
    transform: perspective(400px)
  }
}

.flipInX {
  -webkit-backface-visibility: visible!important;
  backface-visibility: visible!important;
  animation-name: O
}

@keyframes P {
  0% {
    transform: perspective(400px) rotateY(90deg);
    animation-timing-function: ease-in;
    opacity: 0
  }
  40% {
    transform: perspective(400px) rotateY(-20deg);
    animation-timing-function: ease-in
  }
  60% {
    transform: perspective(400px) rotateY(10deg);
    opacity: 1
  }
  80% {
    transform: perspective(400px) rotateY(-5deg)
  }
  to {
    transform: perspective(400px)
  }
}

.flipInY {
  -webkit-backface-visibility: visible!important;
  backface-visibility: visible!important;
  animation-name: P
}

@keyframes Q {
  0% {
    transform: perspective(400px)
  }
  30% {
    transform: perspective(400px) rotateX(-20deg);
    opacity: 1
  }
  to {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0
  }
}

.flipOutX {
  animation-duration: .75s;
  animation-name: Q;
  -webkit-backface-visibility: visible!important;
  backface-visibility: visible!important
}

@keyframes R {
  0% {
    transform: perspective(400px)
  }
  30% {
    transform: perspective(400px) rotateY(-15deg);
    opacity: 1
  }
  to {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0
  }
}

.flipOutY {
  animation-duration: .75s;
  -webkit-backface-visibility: visible!important;
  backface-visibility: visible!important;
  animation-name: R
}

@keyframes S {
  0% {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0
  }
  60% {
    transform: skewX(20deg);
    opacity: 1
  }
  80% {
    transform: skewX(-5deg)
  }
  to {
    transform: translateZ(0)
  }
}

.lightSpeedIn {
  animation-name: S;
  animation-timing-function: ease-out
}

@keyframes T {
  0% {
    opacity: 1
  }
  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0
  }
}

.lightSpeedOut {
  animation-name: T;
  animation-timing-function: ease-in
}

@keyframes U {
  0% {
    transform-origin: center;
    transform: rotate(-200deg);
    opacity: 0
  }
  to {
    transform-origin: center;
    transform: translateZ(0);
    opacity: 1
  }
}

.rotateIn {
  animation-name: U
}

@keyframes V {
  0% {
    transform-origin: left bottom;
    transform: rotate(-45deg);
    opacity: 0
  }
  to {
    transform-origin: left bottom;
    transform: translateZ(0);
    opacity: 1
  }
}

.rotateInDownLeft {
  animation-name: V
}

@keyframes W {
  0% {
    transform-origin: right bottom;
    transform: rotate(45deg);
    opacity: 0
  }
  to {
    transform-origin: right bottom;
    transform: translateZ(0);
    opacity: 1
  }
}

.rotateInDownRight {
  animation-name: W
}

@keyframes X {
  0% {
    transform-origin: left bottom;
    transform: rotate(45deg);
    opacity: 0
  }
  to {
    transform-origin: left bottom;
    transform: translateZ(0);
    opacity: 1
  }
}

.rotateInUpLeft {
  animation-name: X
}

@keyframes Y {
  0% {
    transform-origin: right bottom;
    transform: rotate(-90deg);
    opacity: 0
  }
  to {
    transform-origin: right bottom;
    transform: translateZ(0);
    opacity: 1
  }
}

.rotateInUpRight {
  animation-name: Y
}

@keyframes Z {
  0% {
    transform-origin: center;
    opacity: 1
  }
  to {
    transform-origin: center;
    transform: rotate(200deg);
    opacity: 0
  }
}

.rotateOut {
  animation-name: Z
}

@keyframes ab {
  0% {
    transform-origin: left bottom;
    opacity: 1
  }
  to {
    transform-origin: left bottom;
    transform: rotate(45deg);
    opacity: 0
  }
}

.rotateOutDownLeft {
  animation-name: ab
}

@keyframes bb {
  0% {
    transform-origin: right bottom;
    opacity: 1
  }
  to {
    transform-origin: right bottom;
    transform: rotate(-45deg);
    opacity: 0
  }
}

.rotateOutDownRight {
  animation-name: bb
}

@keyframes cb {
  0% {
    transform-origin: left bottom;
    opacity: 1
  }
  to {
    transform-origin: left bottom;
    transform: rotate(-45deg);
    opacity: 0
  }
}

.rotateOutUpLeft {
  animation-name: cb
}

@keyframes db {
  0% {
    transform-origin: right bottom;
    opacity: 1
  }
  to {
    transform-origin: right bottom;
    transform: rotate(90deg);
    opacity: 0
  }
}

.rotateOutUpRight {
  animation-name: db
}

@keyframes eb {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out
  }
  20%,
  60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out
  }
  40%,
  80% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1
  }
  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0
  }
}

.hinge {
  animation-duration: 2s;
  animation-name: eb
}

@keyframes fb {
  0% {
    opacity: 0;
    transform: scale(.1) rotate(30deg);
    transform-origin: center bottom
  }
  50% {
    transform: rotate(-10deg)
  }
  70% {
    transform: rotate(3deg)
  }
  to {
    opacity: 1;
    transform: scale(1)
  }
}

.jackInTheBox {
  animation-name: fb
}

@keyframes gb {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate(-120deg)
  }
  to {
    opacity: 1;
    transform: translateZ(0)
  }
}

.rollIn {
  animation-name: gb
}

@keyframes hb {
  0% {
    opacity: 1
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate(120deg)
  }
}

.rollOut {
  animation-name: hb
}

@keyframes ib {
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3)
  }
  50% {
    opacity: 1
  }
}

.zoomIn {
  animation-name: ib
}

@keyframes jb {
  0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(.55, .055, .675, .19)
  }
  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(.175, .885, .32, 1)
  }
}

.zoomInDown {
  animation-name: jb
}

@keyframes kb {
  0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(.55, .055, .675, .19)
  }
  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(.175, .885, .32, 1)
  }
}

.zoomInLeft {
  animation-name: kb
}

@keyframes lb {
  0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(.55, .055, .675, .19)
  }
  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(.175, .885, .32, 1)
  }
}

.zoomInRight {
  animation-name: lb
}

@keyframes mb {
  0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(.55, .055, .675, .19)
  }
  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(.175, .885, .32, 1)
  }
}

.zoomInUp {
  animation-name: mb
}

@keyframes nb {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3)
  }
  to {
    opacity: 0
  }
}

.zoomOut {
  animation-name: nb
}

@keyframes ob {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(.55, .055, .675, .19)
  }
  to {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(.175, .885, .32, 1)
  }
}

.zoomOutDown {
  animation-name: ob
}

@keyframes pb {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0)
  }
  to {
    opacity: 0;
    transform: scale(.1) translate3d(-2000px, 0, 0);
    transform-origin: left center
  }
}

.zoomOutLeft {
  animation-name: pb
}

@keyframes qb {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0)
  }
  to {
    opacity: 0;
    transform: scale(.1) translate3d(2000px, 0, 0);
    transform-origin: right center
  }
}

.zoomOutRight {
  animation-name: qb
}

@keyframes rb {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(.55, .055, .675, .19)
  }
  to {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(.175, .885, .32, 1)
  }
}

.zoomOutUp {
  animation-name: rb
}

@keyframes sb {
  0% {
    transform: translate3d(0, -100%, 0);
    visibility: visible
  }
  to {
    transform: translateZ(0)
  }
}

.slideInDown {
  animation-name: sb
}

@keyframes tb {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible
  }
  to {
    transform: translateZ(0)
  }
}

.slideInLeft {
  animation-name: tb
}

@keyframes ub {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: visible
  }
  to {
    transform: translateZ(0)
  }
}

.slideInRight {
  animation-name: ub
}

@keyframes vb {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible
  }
  to {
    transform: translateZ(0)
  }
}

.slideInUp {
  animation-name: vb
}

@keyframes wb {
  0% {
    transform: translateZ(0)
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0)
  }
}

.slideOutDown {
  animation-name: wb
}

@keyframes xb {
  0% {
    transform: translateZ(0)
  }
  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0)
  }
}

.slideOutLeft {
  animation-name: xb
}

@keyframes yb {
  0% {
    transform: translateZ(0)
  }
  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0)
  }
}

.slideOutRight {
  animation-name: yb
}

@keyframes zb {
  0% {
    transform: translateZ(0)
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0)
  }
}

.slideOutUp {
  animation-name: zb
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both
}

.animated.infinite {
  animation-iteration-count: infinite
}

.animated.delay-1s {
  animation-delay: 1s
}

.animated.delay-2s {
  animation-delay: 2s
}

.animated.delay-3s {
  animation-delay: 3s
}

.animated.delay-4s {
  animation-delay: 4s
}

.animated.delay-5s {
  animation-delay: 5s
}

.animated.fast {
  animation-duration: .8s
}

.animated.faster {
  animation-duration: .5s
}

.animated.slow {
  animation-duration: 2s
}

.animated.slower {
  animation-duration: 3s
}

@media (prefers-reduced-motion) {
  .animated {
    animation: unset!important;
    transition: none!important
  }
}