section.awards .block_img {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
  max-width: 1400px;
  margin: auto
}

section.awards .block_img__item_img {
  max-width: 670px;
  width: 100%;
  height: 470px;
  background: #f8f8f8;
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center
}

section.awards .block_img__item_img img {
  transform: scale(1);
  transition: all .3s linear
}

section.awards .block_img__item_img img:hover {
  transform: scale(1.2)
}

section.awards .block_img__item_title {
  color: #000;
  font-size: 24px;
  font-family: pb;
  padding: 40px 0 30px;
  display: block
}

section.awards .block_img__item_date {
  color: #797979;
  font-size: 20px;
  padding-bottom: 40px;
  display: block
}

section.awards .buttons {
  text-align: center
}

section.awards .buttons .btn {
  margin: auto
}