.buttons {
  display: -ms-flexbox;
  display: flex
}

.buttons .btn {
  transition: all .3s linear;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 2.2em;
  position: relative;
  display: block;
  width: 240px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(0, 0, 0, .2);
  transition: all 1s ease;
  white-space: nowrap
}

.buttons .btn:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  transition: all .75s ease 0s;
  background: #eb4641;
  opacity: .5;
  transform: translateY(-50%) translateX(-50%) rotate(90deg)
}

.buttons .btn:hover {
  color: #fff;
  text-shadow: none;
  background: rgba(235, 70, 65, .5)
}

.buttons .btn:hover:after {
  opacity: 1;
  height: 600%!important
}

.buttons .btn.white {
  background: #fff;
  color: #000
}

.buttons .btn.white:hover {
  background: rgba(235, 70, 65, .5);
  color: #fff
}