section.clients .mapael .map {
  position: relative
}

section.clients .mapael .mapTooltip {
  position: absolute;
  background-color: #fff;
  opacity: .7;
  filter: alpha(opacity=70);
  border-radius: 10px;
  padding: 10px;
  z-index: 1000;
  max-width: 200px;
  display: none;
  color: #000;
  font-size: 2em
}

section.clients path.link {
  stroke: #000;
  display: none
}

section.clients path.link.active,
section.clients path.link:hover {
  stroke-dasharray: 15;
  background: url(../img/clients/black-plane.png) no-repeat;
  animation: Cb 1s ease-in-out infinite
}

section.clients path.link.active {
  display: block
}

section.clients path.link.active:before {
  content: "123";
  display: block
}

section.clients span.fly {
  background: url(../img/clients/black-plane.png) no-repeat;
  width: 20px;
  height: 20px;
  display: block
}

@keyframes Cb {
  0% {
    opacity: 1
  }
  50% {
    opacity: .5
  }
  to {
    opacity: 0
  }
}