section.contacts .our_contact {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 50px;
  padding-bottom: 40px
}

section.contacts .physical_contact__title {
  font-size: 2em;
  font-family: pm
}

section.contacts .physical_contact>div {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 100px 1fr
}

@media (max-width:768px) {
  section.contacts .our_contact {
    grid-template-columns: 1fr
  }
  section.contacts .social_contact {
    margin-top: 1em;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
  }
}