section.count .container {
  padding-top: 0;
  padding-bottom: 0
}

section.count .numbers_line {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em
}

section.count .numbers_line li {
  position: relative;
  margin-left: 5em
}

section.count .numbers_line li:before {
  position: absolute;
  content: "";
  width: 1.5em;
  height: 4em;
  top: .5em;
  left: -3em;
  background: #eb4641
}

section.count .numbers_line li span.numbers {
  font-size: 6em;
  font-weight: 700
}

section.count .numbers_line li h3.numbers,
section.count .numbers_line li span.numbers {
  font-family: pm;
  position: relative;
  display: inline-block;
  line-height: 1
}

section.count .numbers_line li span.text {
  color: #797979;
  font-size: 3em;
  display: block
}