
@font-face {
  font-family: pr;
  src: url(../fonts/Poppins-Regular.eot);
  src: local("☺"), url(../fonts/Poppins-Regular.woff) format("woff"), url(../fonts/Poppins-Regular.ttf) format("truetype"), url(../fonts/Poppins-Regular.svg) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: ps;
  src: url(../fonts/Poppins-SemiBold.eot);
  src: local("☺"), url(../fonts/Poppins-SemiBold.woff) format("woff"), url(../fonts/Poppins-SemiBold.ttf) format("truetype"), url(../fonts/Poppins-SemiBold.svg) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: pm;
  src: url(../fonts/Poppins-Medium.eot);
  src: local("☺"), url(../fonts/Poppins-Medium.woff) format("woff"), url(../fonts/Poppins-Medium.ttf) format("truetype"), url(../fonts/Poppins-Medium.svg) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: pl;
  src: url(../fonts/Poppins-Light.eot);
  src: local("☺"), url(../fonts/Poppins-Light.woff) format("woff"), url(../fonts/Poppins-Light.ttf) format("truetype"), url(../fonts/Poppins-Light.svg) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: pb;
  src: url(../fonts/Poppins-Bold.eot);
  src: local("☺"), url(../fonts/Poppins-Bold.woff) format("woff"), url(../fonts/Poppins-Bold.ttf) format("truetype"), url(../fonts/Poppins-Bold.svg) format("svg");
  font-weight: 400;
  font-style: normal
}