footer {
  border-top: 1px solid #e9e9e9;
  .container {
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #797979;
    max-width: 1200px;
    font-size: 1.6em;
    .logo img {
      height: 25px;
      margin-left: 1em;
    }
  }
  .container,
  .container .logo {
    display: -ms-flexbox;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center
  }
}



