form {
  display: grid;
  grid-gap: 3.5em;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))
}

form input,
form textarea {
  border: none;
  color: #797979;
  border-bottom: 1px solid #e9e9e9;
  font-size: 1.8em;
  padding: .3em;
  transition: .4s;
  font-family: pl;
  cursor: pointer
}

form input:focus,
form textarea:focus {
  box-shadow: 0 5px 0 0 hsla(0, 0%, 47%, .75);
  color: #000
}

form input:-webkit-autofill,
form textarea:-webkit-autofill {
  background: #fff!important
}

form textarea {
  resize: none;
  grid-column: 1/3
}

form .buttons {
  margin-top: 0
}

form .buttons .btn {
  border: none
}
@media (max-width:768px) {
  form {
    display: block
  }
  form input,
  form textarea {
    width: 100%;
    margin-bottom: 1em
  }
  form .buttons {
    margin-top: 0
  }
  form .buttons .btn {
    width: 100%
  }
}
