//*{
//  margin: 0;
//  padding: 0;
//}
//*,
//*::before,
//*::after {
//  box-sizing: border-box;
//}
//html, body {
//  width: 100%;
//  height: 100%;
//}
////::selection {
////  color: $white_color;
////  background: $black_color;
////}
//input:focus,
//button:focus,
//textarea:focus {
//  outline: none;
//}
//
////i {
////  border: solid black;
////  border-width: 0 3px 3px 0;
////  display: inline-block;
////  padding: 15px;
////}
//ul{
//  list-style: none;
//}
//body{
//  //background: $white_color;
//  //color: $black_color;
//  //font-size: $base-font-size;
//  font-family: $pl;
//  line-height: 1.5;
//}
//a{
//  text-decoration: none;
//  color: inherit;
//}
//a:focus,
//a:hover,
//a:visited{
//  color: inherit;
//}
//header,
//footer,
//section{
//  font-size: $base-font-size;
//}
//section {
//  .container {
//    padding-top: 14em;
//    padding-bottom: 14em;
//  }
//  .title_block {
//    padding-bottom: 6em;
//  }
//  .block_text {
//    max-width: 726px;
//    margin: auto;
//  }
//  .buttons {
//    margin-top: 40px;
//  }
//}
//.container{
//  max-width: 1800px;
//  margin: auto;
//  padding: 0 50px;
//}
//.title_block{
//  @include flexbox;
//  @include justify-content(space-between);
//  @include align-items(center);
//  max-width: 900px;
//  margin: auto;
//  .we_are,
//  h3.title{
//    position: relative;
//    .red{
//      color: $red_color;
//      animation: fade 3s ease infinite;
//    }
//    &:after{
//      position: absolute;
//      content: '';
//      background: $black_color;
//      @include em((
//              width: 15px,
//              height: 45px
//      ), $font-size-22);
//      top: -1.5em;
//      right: -1em;
//    }
//  }
//}
//@keyframes fade {
//  0%{
//    opacity: 1;
//  }
//  10%{
//    opacity: .8;
//  }
//  20% {
//      opacity: .6;
//  }
//  30% {
//    opacity: .4;
//  }
//  40% {
//    opacity: .2;
//  }
//  50% {
//    opacity: 0;
//  }
//  6%{
//    opacity: .2;
//  }
//  70%{
//    opacity: .4;
//  }
//  80% {
//    opacity: .6;
//  }
//  90% {
//    opacity: .8;
//  }
//  100% {
//    opacity: 1;
//  }
//}
//.sub_title{
//  font-size: em($font-size-26, $base-font-size);
//  font-family: $pm;
//  display: block;
//  padding-bottom: em(20px, $font-size-26);
//}
//.social_contact{
//  @include flexbox;
//  @include align-items(flex-end);
//  @include flex-direction(column);
//  @include justify-content(space-between);
//  a.social_link{
//    width: 4em;
//    height: 4em;
//    display: block;
//    -webkit-background-size: cover;
//    background-size: cover;
//    background-repeat: no-repeat;
//    &:hover{
//      -webkit-filter: opacity(.5) drop-shadow(0 0 0 $red_color);
//      filter: opacity(.5) drop-shadow(0 0 0 $red_color);
//    }
//    &.fb{
//      background-image: url(../img/contacts/facebook-logo.png);
//    }
//    &.in{
//      background-image: url(../img/contacts/linkedin-logo.png);
//    }
//    &.ins{
//      background-image: url(../img/contacts/instagram-logo.png);
//    }
//    &.tw{
//      background-image: url(../img/contacts/twitter-social-logotype.png);
//    }
//  }
//}
//
//.our_skills {
//  @include flexbox;
//  @include flex-wrap(wrap);
//  @include justify-content(space-evenly);
//  max-width: 1800px;
//  padding: 0 5em;
//  margin-bottom: 10em;
//  &__item {
//    @include flexbox;
//    @include flex-direction(column);
//    @include align-items(center);
//    @include justify-content(flex-end);
//    .img{
//      height: 60px;
//      width: 60px;
//    }
//    &.all-project{
//      .img{
//        background: url('../img/projects/projects.svg') no-repeat;
//        -webkit-background-size: contain;
//        background-size: contain;
//      }
//    }
//    &.mobile{
//      .img{
//        background: url('../img/projects/smartphone.svg') no-repeat;
//        -webkit-background-size: contain;
//        background-size: contain;
//      }
//    }
//    &.something-new{
//      .img{
//        background: url('../img/projects/startup.svg') no-repeat;
//        -webkit-background-size: contain;
//        background-size: contain;
//      }
//    }
//    &.analytics{
//      .img{
//        background: url('../img/projects/bar-chart-1.svg') no-repeat;
//        -webkit-background-size: contain;
//        background-size: contain;
//      }
//    }
//    &.web{
//      .img{
//        background: url('../img/projects/marketing.svg') no-repeat;
//        -webkit-background-size: contain;
//        background-size: contain;
//
//      }
//    }
//    &:hover{
//      .our_skills__item_title{
//        color: $red_color;
//      }
//      .img{
//        filter: brightness(.4) sepia(1) hue-rotate(-401deg) saturate(3);
//      }
//    }
//    &_img {
//      //width: 6em;
//      //height: 6em;
//    }
//    &_title {
//      padding-top: .8em;
//      font-size: 2em;
//    }
//    &:last-child {
//      margin-right: 0;
//    }
//  }
//}

.projects{
  .our_skills{
    &__item{
      .img{
        filter: brightness(0.3) sepia(0) hue-rotate(0deg) saturate(0);
      }
      &:hover{
        .img{
          filter: brightness(.4) sepia(1) hue-rotate(-401deg) saturate(3);
        }
      }
    }
  }
}


h2 {
  font-size: 7em;
  line-height: 1;
  text-transform: uppercase
}

h3 {
  font-size: 6em;
  font-family: pr
}

span.title {
  font-size: 2.4em
}

.we_are {
  font-size: 2.2em
}

div.parag {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.parag {
  font-size: 2em;
  line-height: 1.5;
  //margin-bottom: .75em;
  color: #797979;
  display: block
}

.btn {
  font-size: 2.2em;
  padding: .875em 1.875em
}

footer {
  font-size: 1.6em
}

* {
  margin: 0;
  padding: 0
}

*,
:after,
:before {
  box-sizing: border-box
}

body,
html {
  width: 100%;
  height: 100%
}

::-moz-selection {
  color: #fff;
  background: #000
}

::selection {
  color: #fff;
  background: #000
}

button:focus,
input:focus,
textarea:focus {
  outline: none
}

ul {
  list-style: none
}

body {
  background: #fff;
  color: #000;
  font-family: pl;
  line-height: 1.5
}

a {
  text-decoration: none
}

a,
a:focus,
a:hover,
a:visited {
  color: inherit
}

footer,
header,
section {
  font-size: 10px
}

section .container {
  padding-top: 14em;
  padding-bottom: 14em
}

section .title_block {
  padding-bottom: 6em
}

section .block_text {
  max-width: 726px;
  margin: auto
}

section .buttons {
  margin-top: 40px
}

.container {
  max-width: 1800px;
  margin: auto;
  padding: 0 50px
}

.title_block {
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 900px;
  margin: auto
}

.title_block .we_are,
.title_block h3.title {
  position: relative
}

.title_block .we_are .red,
.title_block h3.title .red {
  color: #eb4641;
  animation: Ab 3s ease infinite
}

.title_block .we_are:after,
.title_block h3.title:after {
  position: absolute;
  content: "";
  background: #000;
  width: .68182em;
  height: 2.04545em;
  top: -1.5em;
  right: -1em
}

@keyframes Ab {
  0% {
    opacity: 1
  }
  10% {
    opacity: .8
  }
  20% {
    opacity: .6
  }
  30% {
    opacity: .4
  }
  40% {
    opacity: .2
  }
  50% {
    opacity: 0
  }
  6% {
    opacity: .2
  }
  70% {
    opacity: .4
  }
  80% {
    opacity: .6
  }
  90% {
    opacity: .8
  }
  to {
    opacity: 1
  }
}

.sub_title {
  font-size: 2.6em;
  font-family: pm;
  display: block;
  padding-bottom: .76923em
}

section.about_page .container,
section.join .container,
section.projects .container {
  padding-top: 12em
}













