
header {
  background: #fff;
  border-bottom: 1px solid #e9e9e9
}

header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2
}

header.sticky+section {
  padding-top: 3em
}

header .container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 150px 1fr 170px;
  grid-template-rows: 1.5em 3em 1.5em;
  position: relative;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e9e9e9
}

header .logo {
  grid-row: 2
}

header .logo img {
  width: 10em
}

header .menu {
  grid-row: 2
}

header .menu ul {
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  padding-top: 8px
}

header .menu ul li {
  margin-bottom: 0;
  padding-bottom: .2em
}

header .menu ul li:not(:last-child) {
  margin-right: 4.6em
}

header .menu ul li:not(.current-menu-item):after {
  content: "";
  height: 4px;
  width: 0;
  background: #eb4641;
  display: block;
  transition: .3s
}

header .menu ul li:not(.current-menu-item):hover:after {
  width: 100%
}

header .menu ul li.current-menu-item {
  font-family: ps;
  border-bottom: 4px solid #eb4641
}

header .menu ul a {
  text-transform: uppercase;
  color: #000;
  font-size: 2em;
  position: relative
}

header .send {
  grid-row: 1/4;
  background: #eb4641;
  color: #fff;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center
}

header .send img {
  height: 20px;
  width: 30px;
  -o-object-fit: contain;
  object-fit: contain;
  margin-right: 10px
}

header .send span {
  color: #fff;
  position: relative;
  font-size: 2em;
  line-height: 0;
  cursor: pointer
}

header .mobile_menu {
  width: 0;
  overflow: hidden;
  position: absolute;
  top: 62px;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%)
}

header .burger-menu {
  position: relative;
  width: 40px;
  height: 23px;
  cursor: pointer;
  display: none
}

header .burger-menu .burger {
  position: absolute;
  background: #000;
  width: 100%;
  height: 3px;
  top: 75%;
  right: 0;
  margin-top: -5px;
  opacity: 1
}

header .burger-menu .burger:after,
header .burger-menu .burger:before {
  position: absolute;
  background: #000;
  width: 100%;
  height: 3px;
  content: "";
  display: block
}

header .burger-menu .burger:before {
  top: 8px
}

header .burger-menu .burger:after {
  bottom: 8px
}

header .burger,
header .burger:after,
header .burger:before {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out
}

header .burger-menu.menu-on .burger:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  bottom: 0
}

header .burger-menu.menu-on .burger:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 0
}

header .burger-menu.menu-on .burger {
  background: hsla(0, 0%, 44%, 0)
}

@media (max-width:992px) {
  header.show .mobile_menu {
    display: block;
    display: -ms-flexbox;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    width: 100%;
    padding: 0 6em;
    transform: translateY(0);
    -webkit-transform: translateY(0)
  }
  header.show .mobile_menu .menu {
    display: block
  }
  header.show .mobile_menu .send {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align: center;
    padding: 1.4em 0;
    margin-bottom: 4em
  }
  header.show .mobile_menu .send span {
    font-size: 16px
  }
  header.show .mobile_menu .send span:before {
    top: 5px;
    width: 19px;
    height: 19px;
    background-size: contain
  }
  header.show .mobile_menu .menu ul {
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 9em
  }
  header.show .mobile_menu .menu ul li {
    margin-right: 0;
    margin-bottom: 26px
  }
  header.show .mobile_menu .social_contact {
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    margin-bottom: 8em
  }
  header.show .mobile_menu .social_contact a.social_link {
    height: 35px;
    width: 35px
  }
  header .container {
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1em 1fr 1em;
    position: fixed;
    width: 100%;
    background: #fff
  }
  header .logo img {
    width: 9.2em;
    height: 3.7em
  }
  header .burger-menu {
    display: block;
    grid-row: 2;
    grid-column: 4/5;
    width: 30px
  }
  header .menu,
  header .send {
    display: none
  }
}