section.join .our_contact {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 2em;
  margin-bottom: 8em
}

section.join .our_contact .sub_title {
  padding-bottom: 1.53846em
}

section.join .our_contact .vacancies .buttons {
  margin-top: 0
}

section.join .our_contact .vacancies .buttons .btn {
  font-family: pb;
  display: block
}

section.join .social_contact {
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  height: 63px
}

section.join .social_contact a.social_link {
  margin-right: 3em
}

@media (max-width:768px) {
  section.join .our_contact {
    grid-template-columns: 1fr
  }
  section.join .our_contact div {
    display: -ms-flexbox;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between
  }
  section.join .our_contact div .sub_title {
    padding-bottom: 0
  }
}

@media (max-width:768px) {
  section.join .our_contact {
    grid-template-columns: 1fr;
    grid-gap: 4em
  }
  section.join .our_contact div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between
  }
  section.join .our_contact div .sub_title {
    padding-bottom: 0;
    white-space: nowrap;
    margin-bottom: 1em
  }
}

@media (max-width:425px) {
  section.join .our_contact .vacancies .buttons,
  section.join .our_contact .vacancies .buttons .btn {
    width: 100%
  }
}