
section.main_banner .container {
  position: relative;
  padding: 0 50px
}

section.main_banner .main_banner__img {
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 10em);
  box-shadow: 0 0 14px -8px #000
}

section.main_banner .main_banner__img:hover img {
  transform: scale(1)
}

section.main_banner .main_banner__img img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
  transition: .7s;
  height: 100%;
  transform: scale(1.1)
}

section.main_banner .main_banner__text {
  position: absolute;
  color: #fff;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 1800px;
  height: 100%;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end
}

section.main_banner .main_banner__text .title {
  position: absolute;
  top: calc(50% - 50px);
  right: 0;
  left: 0;
  margin: auto;
  padding: 0 1em;
  font-weight: 300
}

section.main_banner .main_banner__text .title .red {
  color: #fff;
  font-weight: 700
}

section.main_banner .main_banner__text .title span.active {
  text-transform: uppercase;
  font-family: pb
}

@media (max-width:992px) {
  section.main_banner .container {
    padding: 0
  }
}

@media (max-width:768px) {
  section.main_banner .container {
    padding: 0
  }
  section.main_banner .main_banner__text .title {
    font-size: 30px;
    top: 50%
  }
  section.main_banner .main_banner__text .our_skills {
    display: none
  }
}

.main_banner__text h3.title {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  outline: none;
  text-align: center;
  line-height: 1
}

@keyframes Bb {
  0% {
    -webkit-filter: url(#squiggly-0);
    filter: url(#squiggly-0)
  }
  25% {
    -webkit-filter: url(#squiggly-1);
    filter: url(#squiggly-1)
  }
  50% {
    -webkit-filter: url(#squiggly-2);
    filter: url(#squiggly-2)
  }
  75% {
    -webkit-filter: url(#squiggly-3);
    filter: url(#squiggly-3)
  }
  to {
    -webkit-filter: url(#squiggly-4);
    filter: url(#squiggly-4)
  }
}
