
@media (max-width:1440px) and (max-height:900px) {
  .title_block h2 {
    font-size: 5em
  }
  .buttons .btn,
  .parag,
  .sub_title {
    font-size: 16px
  }
  .buttons .btn {
    width: 170px
  }
  .we_are {
    font-size: 16px
  }
  header.sticky+section {
    padding-top: 6em
  }
  header .menu ul a,
  header .send span {
    font-size: 16px
  }
  header .send img {
    height: 15px;
    width: 25px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-right: 10px
  }
  section.process .work_process__team_item:first-child {
    padding-top: 0
  }
  section.process .work_process__team_item span.title {
    font-size: 16px
  }
  section.process .work_process__team_item span.text {
    font-size: 14px
  }
  section.process .work_process__steps_item span.title {
    font-size: 16px
  }
  section.single_project .single_project__banner .return {
    width: 60px;
    height: 60px
  }
  section.single_project .single_project__banner .return a:before {
    padding: 10px
  }
  section.count .numbers_line li span.text {
    font-size: 2em
  }
  section.projects_list .projects_list__item {
    padding: 0 50px
  }
  section.projects_list .projects_list__item_title {
    font-size: 30px
  }
  section.projects_list .projects_list__item_subtitle {
    font-size: 16px
  }
  section.projects_list .projects_list__item_excerpt,
  section.projects_list .projects_list__item_tags_name {
    font-size: 14px
  }
  section.main_banner .main_banner__text .our_skills__item_title {
    font-size: 16px
  }
}

@media (max-width:1280px) and (max-height:800px) {
  .modal_box.mail_box section.contacts {
    padding: 1em 0
  }
  .modal_box.active .modal .closeModal {
    top: 0;
    right: -48px
  }
  section.single_project .single_project__banner .return {
    width: 50px;
    height: 50px
  }
  section.single_project .single_project__banner .return a:before {
    padding: 7px;
    top: 35%
  }
}

@media (max-width:1280px) {
  header {
    font-size: 8px
  }
  section {
    font-size: 9px
  }
  section.place #map {
    width: 500px
  }
}

@media (max-width:1024px) {
  section {
    font-size: 8px
  }
  section.count .numbers_line {
    grid-gap: 4em;
    grid-template-columns: repeat(2, 1fr)
  }
}

@media (max-width:992px) {
  .modal_box.active .owerlay,
  .owerlay.active {
    top: 60px
  }
  .modal_box.mail_box section.contacts {
    padding: 7em 9em
  }
  .modal_box.mail_box section.contacts form {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))
  }
  section.process .work_process__team {
    -ms-flex-align: center;
    align-items: center
  }
  section.process .wrap {
    display: none
  }
  section.process .container {
    background: #202e37
  }
  section.process .work_process {
    grid-template-columns: 1fr
  }
  section.process .work_process__team_item {
    margin-left: 0
  }
  section.process .work_process__steps {
    padding-left: 0;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px
  }
  section.process .work_process__steps_item {
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 0;
    text-align: center
  }
  section.process .work_process__steps_item span.title {
    padding-left: 0;
    padding-top: 1em
  }
  section.single_project .container {
    grid-template-columns: 1fr;
    padding-left: 25px
  }
  section.place .our_contact {
    display: block;
    padding: 50px
  }
  section.place .our_contact .physical_contact {
    margin-right: 0;
    margin-bottom: 20px
  }
  section.place .our_contact .place_location {
    float: none
  }
  section.place .our_contact .place_location #wpgmza_map {
    width: auto!important
  }
}

@media (max-width:768px) {
  header.sticky+section {
    padding-top: 9em
  }
  header {
    font-size: 10px
  }
  section.project_description .container p.description,
  section.single_project .short_description .descr,
  section.single_project .short_description .title {
    font-size: 16px
  }
  section {
    font-size: 7px
  }
  section.join .our_contact {
    margin-bottom: 0
  }
  section.awards .block_img {
    display: block
  }
  section.awards .block_img__item {
    margin-bottom: 2em
  }
  section.awards .block_img__item_img {
    height: auto;
    padding: 2em 0
  }
  section.awards .block_img__item_img img:hover {
    transform: scale(1)
  }
  section.awards .block_img__item_title {
    font-size: 20px
  }
  section.single_project .single_project__banner img {
    height: auto
  }
  section.join .social_contact {
    width: 100%;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between
  }
  section.main_banner .main_banner__img {
    height: calc(50vh - 5em)
  }
  section.projects .our_skills {
    padding-top: 10em;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start
  }
  section.projects .our_skills__item {
    width: 50%;
    padding-bottom: 30px
  }
  section.projects .our_skills__item img {
    height: 45px
  }
  section.projects .our_skills__item_title {
    font-size: 16px
  }
  .title_block {
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
  }
  .title_block .we_are {
    font-size: 14px
  }
  .title_block .we_are:after {
    width: 15px;
    height: 40px;
    right: 0;
    top: -50px
  }
  h2.title_text {
    font-size: 30px;
    padding-bottom: 15px
  }
  .buttons .btn {
    font-size: 16px;
    text-transform: unset
  }
  .social_contact a.social_link {
    width: 35px;
    height: 35px
  }
  section.projects_list .projects_list__item {
    padding: 0 0 60px;
    margin-bottom: 0;
    display: block
  }
  section.projects_list .projects_list__item_title {
    font-size: 24px;
    white-space: normal
  }
  section.projects_list .projects_list__item_number {
    font-size: 3.2em
  }
  section.projects_list .projects_list__item_number:after {
    width: 15px;
    height: 40px;
    right: -2em
  }
  section.projects_list .projects_list__item_tags_name {
    font-size: 16px
  }
  section.projects_list .projects_list__item_description .projects_list__item_img {
    display: block
  }
  section.projects_list .projects_list__item_img {
    display: none;
    margin-top: 5em;
    height: auto
  }
  section.projects_list .projects_list__item_img img {
    max-height: 300px
  }
  section.projects_list .buttons .btn {
    width: 100%
  }
  section.offer .block_img {
    display: block
  }
  section.offer .block_img>div {
    margin: 20px 0
  }
  section.place .container {
    padding-right: 25px
  }
  .modal_box.mail_box,
  section.place .our_contact {
    padding: 0
  }
  .modal_box.mail_box .modal .closeModal {
    display: none
  }
  .modal_box.mail_box.active {
    top: 60px
  }
  .modal_box.active .modal {
    height: 100%
  }
  .modal_box.mail_box .modal.mail_box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center
  }
}

@media (max-width:640px) {
  .modal_box.mail_box section.contacts {
    padding: 7em 5em
  }
  .modal_box.mail_box section.contacts .sub_title {
    font-size: 18px
  }
  .modal_box.mail_box section.contacts form input,
  .modal_box.mail_box section.contacts form textarea {
    font-size: 16px
  }
}

@media (max-width:425px) {
  .parag {
    font-family: pl;
    margin-bottom: 1em
  }
  .parag,
  section.awards .block_img__item_date,
  section.contacts .physical_contact__title,
  section.mission .block_text .parag,
  section.projects_list .projects_list__item_excerpt {
    font-size: 14px
  }
  section.awards .block_img__item_title,
  section.project_description .container p.description span,
  section.projects_list .projects_list__item_subtitle,
  section.single_project .short_description .descr,
  section.single_project .short_description .title {
    font-size: 16px
  }
  section.project_description .container span.title {
    font-size: 18px
  }
  footer .container {
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    font-size: 1.2em;
    padding-top: 2em;
    padding-bottom: 2em
  }
  footer .container .logo {
    display: none
  }
  header .container,
  section .container {
    padding-left: 25px;
    padding-right: 25px
  }
  section {
    font-size: 4px
  }
  section .container {
    padding-top: 12.5em
  }
  section .block_text {
    padding: 15px 0
  }
  section.count {
    font-size: 8px
  }
  section.count .numbers_line {
    grid-template-columns: 1fr
  }
  section.count .numbers_line li:before {
    top: 1em;
    width: 10px;
    height: 23px
  }
  section.count .numbers_line li h3.numbers {
    font-size: 5em;
    line-height: 1
  }
  section.count .numbers_line li span.text {
    font-size: 18px;
    font-family: pl
  }
  section.join .block_text .sub_title {
    font-size: 16px
  }
  section.join .block_text>div:not(.our_contact) {
    display: none
  }
  section.contacts .social_contact {
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between
  }
  section.contacts .block_text form,
  section.contacts .block_text span.sub_title {
    display: none
  }
  section.main_banner {
    font-size: 5.5px
  }
  section.projects .our_skills {
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start
  }
  section.projects_list .projects_list__item_number:after {
    width: 10px;
    height: 25px;
    top: -5px
  }
  section.projects_list .projects_list__item_img {
    background: none
  }
  section.process .work_process__team span.title {
    font-size: 16px
  }
  section.process .work_process__team span.text {
    font-size: 14px;
    line-height: 1.71
  }
  section.process .work_process__steps {
    grid-template-columns: 1fr;
    grid-gap: 30px
  }
  section.process .work_process__steps span.text {
    font-size: 3em;
    line-height: 2
  }
  section.process .work_process__steps span.title {
    font-size: 16px;
    display: block;
    width: 250px
  }
  section.process .work_process__steps img {
    max-width: 10em
  }
  section.single_project .single_project__banner .return {
    height: 40px;
    width: 40px;
    top: 20px;
    left: 20px
  }
  section.single_project .single_project__banner .return a:before {
    padding: 5px
  }
  .title_block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .title_block span.we_are {
    display: block;
    width: 100%;
    padding-left: 1em
  }
  .title_block span.we_are:after {
    width: 10px;
    height: 20px;
    top: 0;
    left: 0;
    right: 0
  }
  h2.title_text br {
    display: none
  }
  .wow {
    visibility: visible!important;
    animation: none!important
  }
  .modal_box.mail_box section.contacts {
    padding: 2em
  }
  .modal_box.mail_box section.contacts form {
    display: block
  }
}

@media (max-width:375px) {
  section.place #map {
    width: 275px
  }
}

@media only screen and (min-device-width:1024px) and (max-device-width:1366px) and (min-device-height:1024px) and (max-device-height:1366px) and (-webkit-min-device-pixel-ratio:1.5) {
  header {
    font-size: 10px
  }
  footer {
    font-size: 20px
  }
  section {
    font-size: 12px
  }
  section.process .wrap {
    width: 100%
  }
  section.process .work_process__steps {
    padding-left: 3em
  }
  section.process .work_process__team_item {
    padding: 3em 0;
    margin-left: 0
  }
  section.process .work_process__steps_item {
    padding-left: 6em;
    padding-bottom: 6em
  }
  section .block_text {
    max-width: 100%
  }
  .buttons .btn {
    width: 100%
  }
  form {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
  }
}