
.modal_box.active {
  bottom: 0;
  z-index: 999;
  padding: 10em 5em;
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  font-size: 10px
}

.modal_box.active,
.modal_box.active .owerlay,
.owerlay.active {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  transition: 0s;
  overflow: auto
}

.modal_box.active .owerlay,
.owerlay.active {
  display: block;
  background: rgba(0, 0, 0, .7);
  z-index: 4;
  margin: auto
}

.modal_box.active .modal {
  position: relative;
  max-width: 915px;
  width: 100%;
  background: #fff;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  bottom: 0;
  margin: auto;
  padding: 3em 0
}

.modal_box.active .modal .closeModal {
  position: absolute;
  top: -48px;
  right: -48px;
  cursor: pointer
}

.modal_box.mail_box .mail_box,
.modal_box.sentMessage .sentMessage {
  display: block
}

.modal_box .modal,
.modal_box .modal_new,
.modal_box .owerlay {
  display: none
}

.modal_box.mail_box {
  display: -ms-flexbox;
  display: flex;
  padding: 0 5em
}

.modal_box.mail_box section.contacts {
  padding: 7em 0
}

.modal_box.mail_box section.contacts .sub_title {
  text-align: center;
  padding-bottom: 1.53846em;
  display: block
}

.modal_box.mail_box section.contacts .buttons {
  grid-column: 1/3;
  padding-top: 2em;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center
}

.modal_box.mail_box .modal.mail_box {
  display: block
}

.modal_box.sentMessage {
  padding: 0 5em
}

.modal_box.sentMessage .modal.sentMessage {
  display: block
}

.modal_box.sentMessage .success {
  text-align: center;
  padding: 10em 0 12em
}

.modal_box.sentMessage .success .sub_title {
  display: block;
  margin-bottom: 40px
}

.modal_box.sentMessage .success .buttons {
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center
}

.modal_box.sentMessage .success .buttons .btn {
  text-transform: capitalize
}

.owerlay {
  display: none
}

.owerlay.active {
  display: block
}
