section.offer .container {
  padding-top: 6em
}

section.offer .block_img {
  display: -ms-grid;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px
}

section.offer .block_img div {
  overflow: hidden;
  width: 100%;
  box-shadow: 0 0 14px -8px #000
}

section.offer .block_img div img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
  transition: .7s;
  height: 100%;
  transform: scale(1.1)
}

section.offer .block_img div:hover img {
  transform: scale(1)
}

section.offer .block_img div:first-child {
  grid-column: 1/3;
  grid-row: 1/6
}

section.offer .block_img div:nth-child(2) {
  grid-row: 1/5;
  grid-column: 3/4
}

section.offer .block_img div:nth-child(3) {
  grid-row: 6/9;
  grid-column: 1/2
}

section.offer .block_img div:nth-child(4) {
  grid-row: 6/9;
  grid-column: 2/3
}

section.offer .block_img div:nth-child(5) {
  grid-row: 5/9;
  grid-column: 3/4
}

section.offer .block_img img {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 700px
}