.our_skills {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: space-evenly;
  -ms-justify-content: space-evenly;
  justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  max-width: 1800px;
  padding: 0 5em;
  margin-bottom: 10em
}

.our_skills,
.our_skills__item {
  display: -ms-flexbox;
  display: flex
}

.our_skills__item {
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end
}

.our_skills__item .img {
  height: 60px;
  width: 60px
}

.our_skills__item.all-project .img {
  background: url(../img/projects/projects.svg) no-repeat;
  background-size: contain
}

.our_skills__item.mobile .img {
  background: url(../img/projects/smartphone.svg) no-repeat;
  background-size: contain
}

.our_skills__item.something-new .img {
  background: url(../img/projects/startup.svg) no-repeat;
  background-size: contain
}

.our_skills__item.analytics .img {
  background: url(../img/projects/bar-chart-1.svg) no-repeat;
  background-size: contain
}

.our_skills__item.web .img {
  background: url(../img/projects/marketing.svg) no-repeat;
  background-size: contain
}

.our_skills__item:hover .our_skills__item_title {
  color: #eb4641
}

.our_skills__item:hover .img {
  -webkit-filter: brightness(.4) sepia(1) hue-rotate(-401deg) saturate(3);
  filter: brightness(.4) sepia(1) hue-rotate(-401deg) saturate(3)
}

.our_skills__item_title {
  padding-top: .8em;
  font-size: 2em
}

.our_skills__item:last-child {
  margin-right: 0
}

.projects .our_skills__item .img {
  -webkit-filter: brightness(.3) sepia(0) hue-rotate(0deg) saturate(0);
  filter: brightness(.3) sepia(0) hue-rotate(0deg) saturate(0)
}

.projects .our_skills__item:hover .img {
  -webkit-filter: brightness(.4) sepia(1) hue-rotate(-401deg) saturate(3);
  filter: brightness(.4) sepia(1) hue-rotate(-401deg) saturate(3)
}