section.place {
  max-width: 1900px;
  margin: auto
}

section.place .container {
  padding-top: 6em;
  padding-right: 0;
  position: relative;
  margin-right: 0
}

section.place .block_text {
  max-width: 100%
}

section.place .block_text:after {
  display: block;
  content: "";
  clear: both
}

section.place .place_location {
  float: right;
  position: relative
}

section.place .place_location img {
  width: 100%;
  max-width: 100%
}

section.place .our_contact {
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end
}

section.place .physical_contact {
  margin-right: 2em
}

section.place .physical_contact .sub_title {
  padding-bottom: 40px
}

section.place .physical_contact>div {
  grid-template-columns: 1fr 6fr;
  grid-gap: 3em
}

section.place .physical_contact>div .parag {
  margin-bottom: 0
}
section.place .physical_contact div.adress {
  display: flex;
  flex-direction: column;
}
section.place #map {
  width: 759px;
  height: 376px
}

@media (max-width:768px) {
  section.place .our_contact {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
}