section.process {
  position: relative;
  max-width: 1900px;
  margin: auto
}

section.process .wrap {
  position: absolute;
  background: #202e37;
  height: 100%;
  width: 95%;
  z-index: 0
}

section.process .container {
  position: relative
}

section.process .title_block .we_are,
section.process .title_block h2.title_text {
  color: #fff
}

section.process .title_block .we_are:after {
  background: #fff
}

section.process .work_process {
  display: -ms-grid;
  display: grid;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  color: #fff
}

section.process .work_process__team {
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end
}

section.process .work_process__team_item {
  margin-left: 20%;
  padding: 4em 0
}

section.process .work_process__team_item:nth-child(2) {
  border-top: 1px solid hsla(0, 0%, 100%, .6);
  border-bottom: 1px solid hsla(0, 0%, 100%, .6)
}

section.process .work_process__team span.title {
  padding-bottom: .625em;
  display: block
}

section.process .work_process__team span.text {
  color: hsla(0, 0%, 100%, .7);
  font-size: 2em;
  font-family: pl
}

section.process .work_process__steps {
  padding-left: 12em
}

section.process .work_process__steps_item {
  padding-bottom: 4em;
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

section.process .work_process__steps img {
  max-width: 6em;
  height: auto;
  width: 100%
}

section.process .work_process__steps span.title {
  font-size: 2.2em;
  display: inline-block;
  padding-left: 1.27273em
}