section.projects .our_skills {
  max-width: 1800px;
  padding-top: 1em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: space-evenly;
  -ms-justify-content: space-evenly;
  justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  margin-bottom: 0
}

section.projects .our_skills__item {
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  text-align: center
}

section.projects .our_skills__item_title {
  padding-top: .8em;
  font-size: 2em
}

section.projects .our_skills__item:last-child {
  margin-right: 0
}

section.projects .our_skills__item:hover .our_skills__item_title {
  color: #eb4641
}
