
section.project_description .container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3.5em;
  max-width: 1200px;
  padding-top: 7em
}

section.project_description .container .all_devices {
  grid-column: 1/3;
  margin-top: 5em
}

section.project_description .container .all_devices img {
  width: 100%
}

section.project_description .container .buttons a.btn {
  max-width: 350px;
  width: 100%;
  text-transform: none;
  font-family: pl
}

section.project_description .container .buttons a.btn:before {
  position: absolute;
  top: 40%;
  left: 10%;
  content: "";
  transition: .3s;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg)
}

section.project_description .container .buttons a.btn:hover:before {
  left: -10%
}

section.project_description .container span.title {
  font-size: 2.4em;
  font-family: pm;
  line-height: 3.58
}

section.project_description .container p.description {
  font-size: 2em;
  color: #797979;
  font-family: pl
}

section.project_description .container p.description span {
  display: inline-block;
  padding-bottom: 1em
}

@media (max-width:768px) {
  section.project_description .container {
    display: block
  }
}