section.projects_list .container {
  max-width: 150em
}

section.projects_list .projects_list__item {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  margin-bottom: 20em;
  padding: 0 90px
}

section.projects_list .projects_list__item:last-child {
  margin-bottom: 0
}

section.projects_list .projects_list__item:nth-child(2n) .projects_list__item_img {
  grid-column: 1;
  grid-row: 1
}

section.projects_list .projects_list__item_description {
  -ms-align-self: center;
  -ms-flex-item-align: center;
  align-self: center
}

section.projects_list .projects_list__item_description .projects_list__item_img {
  display: none
}

section.projects_list .projects_list__item_name {
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer
}

section.projects_list .projects_list__item_name:hover .projects_list__item_number:after {
  background: #eb4641
}

section.projects_list .projects_list__item_number {
  position: relative;
  font-size: 2.2em;
  font-family: pb
}

section.projects_list .projects_list__item_number:after {
  position: absolute;
  content: "";
  background: #000;
  transition: .3s;
  width: .68182em;
  height: 1.81818em;
  top: -.1em;
  right: -1em
}

section.projects_list .projects_list__item_title {
  font-size: 5em;
  font-family: pm;
  padding-left: 55px;
  white-space: nowrap
}

section.projects_list .projects_list__item_img {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  position: relative;
  height: 630px;
  background-position: 50%
}

section.projects_list .projects_list__item_img img {
  max-width: 100%;
  max-height: 630px;
  opacity: 1;
  -o-object-fit: contain;
  object-fit: contain
}

section.projects_list .projects_list__item_subtitle {
  font-size: 2.4em;
  font-family: pm;
  padding: 30px 0;
  display: block
}

section.projects_list .projects_list__item_excerpt {
  font-size: 2em;
  color: #797979;
  font-family: pl;
  line-height: 1.5
}

section.projects_list .projects_list__item_tags {
  margin-top: 4em
}

section.projects_list .projects_list__item_tags_name {
  font-size: 1.8em;
  font-family: pm;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  text-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(0, 0, 0, .2);
  transition: all 1s ease;
  padding: .44444em 1.11111em;
  margin-right: .55556em;
  margin-bottom: .55556em
}

section.projects_list .projects_list__item .buttons {
  margin-top: 6em
}

@media (max-width:768px) {
  section.projects_list .projects_list__item {
    margin-bottom: 0;
    display: block
  }
  section.projects_list .projects_list__item .projects_list__item_description .projects_list__item_img {
    display: block
  }
  section.projects_list .projects_list__item .projects_list__item_img {
    display: none;
    margin-top: 5em
  }
  section.projects_list .projects_list__item .buttons .btn {
    width: 100%
  }
}