section.single_project {
  max-width: 190em;
  margin: auto
}

section.single_project .container {
  margin-left: 0;
  padding-left: 0;
  padding-top: 0;
  max-width: 180em;
  padding-bottom: 10em;
  display: -ms-grid;
  display: grid;
  grid-gap: 3em;
  grid-template-columns: 1fr 1fr
}

section.single_project .single_project__banner {
  position: relative;
  text-align: center
}

section.single_project .single_project__banner img {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  -o-object-fit: cover;
  object-fit: cover
}

section.single_project .single_project__banner .return {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #fff;
  top: 40px;
  left: 40px;
  text-align: center;
  transition: 3s
}

section.single_project .single_project__banner .return a:before {
  position: absolute;
  top: 30%;
  left: 35%;
  content: "";
  border: solid #000;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 15px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg)
}

section.single_project .single_project__banner .return:hover {
  background: #000
}

section.single_project .single_project__banner .return:hover a:before {
  border: solid #fff;
  border-width: 0 3px 3px 0
}

section.single_project .description_body {
  padding: 50px 0
}

section.single_project .description_body .buttons {
  margin-top: 1em
}

section.single_project .projects_list__item_title {
  padding-left: 0
}

section.single_project .projects_list__item_subtitle {
  font-size: 2em;
  color: #797979;
  line-height: 1.5;
  font-family: pl;
  padding-top: 9px;
  padding-bottom: 30px
}

section.single_project .short_description {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 4em;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 5em
}

section.single_project .short_description .title {
  font-size: 1.6em;
  font-family: pm
}

section.single_project .short_description .descr {
  color: #797979;
  font-size: 1.6em;
  font-family: pl
}