section.slider .container {
  padding: 0 5em
}

section.slider .slick-slide img {
  max-width: 1400px;
  width: 100%;
  height: auto;
  margin: auto;
  -o-object-fit: contain;
  object-fit: contain
}

section.slider ul.slick-dots {
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 2em;
  position: absolute;
  top: calc(50% - 80px)
}

section.slider ul.slick-dots li button {
  border: none;
  background: #fff;
  color: #797979;
  font-size: 16px;
  line-height: 2.5em
}

section.slider ul.slick-dots li.slick-active button {
  color: #000;
  font-size: 3em
}

@media (max-width:1600px) {
  section.slider .slick-slide img {
    max-width: 1300px
  }
  section.slider ul.slick-dots {
    left: -5em
  }
}