.social_contact {
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between
}

.social_contact a.social_link {
  width: 4em;
  height: 4em;
  display: block;
  background-size: cover;
  background-repeat: no-repeat
}

.social_contact a.social_link:hover {
  -webkit-filter: opacity(.5) drop-shadow(0 0 0 #eb4641);
  filter: opacity(.5) drop-shadow(0 0 0 #eb4641)
}

.social_contact a.social_link.fb {
  background-image: url(../img/contacts/facebook-logo.png)
}

.social_contact a.social_link.in {
  background-image: url(../img/contacts/linkedin-logo.png)
}

.social_contact a.social_link.ins {
  background-image: url(../img/contacts/instagram-logo.png)
}

.social_contact a.social_link.tw {
  background-image: url(../img/contacts/twitter-social-logotype.png)
}